<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Greetings resident of Chateau Normandie,</h1>
    <p>
      The weekly task assignments are below.
      Tasks can be edited on the website <a href="https://ancient-sands-99663.herokuapp.com/">here.</a> Username is your email and password is 'password'.
      <br>
      <%= @data %>
    </p>
    <p>Sincerely,</p>
    <p>The Custodian</p>
  </body>
</html>