<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Greetings resident of Chateau Normadnie,</h1>
    <p>
      The task assignments are below.
      .<br>
      <%= @params %>
    </p>
    <p>Sincerely,</p>
    <p>The Custodian</p>
  </body>
</html>