<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Greetings resident of Chateau Normandie,</h1>
    <p>
      The weekly test assignments are below. 
      <br>
      <%= @data %>
    </p>
    <p>Sincerely,</p>
    <p>The Custodian</p>
  </body>
</html>